@CHARSET "ISO-8859-1";

/* Forms */

#form_login{
	width: 100%;	
}
form {
	padding: 0;
	width: 100%;
}
fieldset {
	border: 1px solid #ccc;
	margin-top: 30px;
}
fieldset legend {
	background:#fff;
	color: #e32;
	font-size: 12px;
	font-family: Arial;
	font-weight: bold;
}
fieldset fieldset {
	margin-top: 0px;
	margin-bottom: 20px;
}
fieldset fieldset legend {
	font-size: 12px;
	font-weight: normal;
}
fieldset fieldset div {
	clear: left;
}
form div {
	/*margin-bottom: 1em;
	padding: .5em;*/
	vertical-align: text-top;
}
form div.label {
	padding-right: 20px;
	font-size: 12px;
	font-weight: bold;
	font-family: Arial;
}
form div.input {
	color: #444;
	width: 98%;
	font-size: 12px;
	font-family: Arial;
}
form div.required {
	color: #333;
	font-weight: bold;
}
form div.submit {
	margin-top: 10px;
	margin:0 auto;
}
input, textarea {
	clear: both;
	font-family: Arial;
	padding: 2px;
	width: 100%;
}
select {
	clear: both;
	font-size: 100%;
	vertical-align: text-bottom;
}
select[multiple=multiple] {
	width: 100%;
}
option {
	font-size: 100%;
	padding: 0 3px;
}
input[type=checkbox] {
	clear: left;
	float: left;
	margin: 0px 6px 7px 2px;
	width: auto;
}
input[type=radio] {
	float:left;
	width:auto;
	margin: 0 3px 7px 0;
}
div.radio label {
	margin: 0 0 6px 20px;
}
input[type=submit] {
	font-size: 12px;
	padding: 2px 5px;
	width: 150px;
	vertical-align: bottom;
}
