img{ border: 0pt; }

#bottom_div{
width: 520px;
height: 150px;
background-color: #b9d1ea;
clear:both;
}

#vista_toolbar {
float:left;
font:normal 12px 'Trebuchet MS','Arial';
margin:0;
padding:0;
}

#vista_toolbar ul {
background-image:url(url(../img/menu_back.gif) );
background-repeat:repeat-x;
float:left;
line-height:32px;
list-style:none;
margin:0;
padding:0 10px 0 10px;
width:500px;
}

#vista_toolbar li {
display:inline;
padding:0;
}

#vista_toolbar a {
color:#FFF; /* need because it will use default link color */
float:left;
padding:0 3px 0 3px; /* left 3 px because of left.png image */ 
text-decoration:none;
}

#vista_toolbar a span {
display:block;
float:none;
padding:0 10px 0 7px;
}

#vista_toolbar a span img {
border:none;
margin:8px 4px 0 0;
}

/* show picture when mouse over link */
#vista_toolbar a:hover{
/*background: url(../img/menu_left.png) no-repeat left center;*/
}

#vista_toolbar a:hover span {
/*background:url(../img/menu_right.png) no-repeat right center;*/
}

#vista_toolbar a.right {
float:right; /* for help button - just add class "right" ->  <a class="right"... */
}